*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    height: 100vh;
}

#imageLeft{
    flex: 1;
}

#imageLeft img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#rightContainer{
    flex: 1;
}

#plant{
    height: 100vh;
}